.imagensClientes {
    background-color: #0056A7;
    padding: 3rem;
    border-radius: 1rem;
}

.balaoClientes {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #0056A7;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.balaoClientes h4 {
    color: #ffffff;
}

.baloes {
    background-color: #0056A7;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.baloes h2 {
    color: #ffffff;
}

.baloes p {
    color: #ffffff;
}

