.imagensClientes {
    background-color: #0056A7;
    padding: 3rem;
    border-radius: 1rem;
}

.balaoClientes {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #0056A7;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.balaoClientes h4 {
    color: #ffffff;
}

.baloes {
    background-color: #0056A7;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.baloes h2 {
    color: #ffffff;
}

.baloes p {
    color: #ffffff;
}

.baloes i {
    color: #ffffff;
    font-size: 2rem;
}

.botaoContato {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    background-size: 150% auto;
    border: none;
    border-radius: 1.3rem;
    color: white;
    padding: 0.8rem 1.5rem;
    text-align: center;
    
}

.botaoContato a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}






