.fraseEmpresa {
    font-weight: 500;
    color: #ffffff;
    transition: 1.5s ease-in-out;
    opacity: 0;
}

.fraseEmpresa.is-visible {
    opacity: 1;
    transition: 1.5s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
        translate: 0 2rem;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

.textoSobreNos h2 {
    text-decoration: underline;
    color: #ffffff;
}

.textoSobreNos {
    opacity: 0;
    transition: 1.5s ease-in-out;
    margin-bottom: 6rem;
}

.textoSobreNos p {
    color: #ffffff;
    margin-top: 1.8rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.textoSobreNos.is-visible {
    opacity: 1;
    transition: 1.5s ease-in-out;
}

.containerSobreNos {
    margin-top: 6rem;
}

#accordionEmpresa {
    margin-bottom: 6rem;
    border: none;
}

.accordion-button {
    background-color: #0056A7;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.accordion-body {
    background-color: rgb(8, 90, 221);
    color: #ffffff;
    font-weight: 400;
    border: none;
}

.accordion-item {
    border: none;
}

.fotosEmpresa {
    height: 30rem;
    background-color: #003f7f;
    margin-bottom: 6rem;
    padding-top: 4rem;
    border-radius: 5rem;
}

.fotosEmpresa p {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.fotoEmpresa1 {
    border-radius: 5rem;
    height: 20rem;
}