@import url('../fonts/Poppins-SemiBold.ttf');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.frase h3 {
    color: #FFFFFF;
    font-size: 3rem;
}

.botaoSaibaMais {
    background-color: #0056A7;
    border-radius: 30px;
    padding: 0.9rem;
    border: none;
    transition: opacity 1.0s ease-in-out;
    opacity: 0;
}

.botaoSaibaMais.is-visible {
    opacity: 1;
}

.botaoSaibaMais a {
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: none;
    margin: 1rem;
    transition: 0.3s;
}

.botaoSaibaMais a:hover {
    text-decoration: underline;
    font-size: 2.4rem;
    transition: 0.3s;
}

.textofrase {
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

.textofrase.is-visible {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
}

.corNavbar {
    background-color: #0056A7;
}

.ulNavbar li a {
    color: #FFFFFF;
    font-size: 1.7rem;
    text-decoration: none;
    transition: 0.3s;
}

.ulNavbar li a:hover {
    transition: 0.3s;
    font-size: 2rem;
    text-decoration: underline;
}


