@import url('../fonts/Poppins-SemiBold.ttf');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.corNavbar {
    background-color: #0056A7;
}

.ulNavbar li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.7rem;
}